<!DOCTYPE html>

<html>
    <!-- Head -->
    {{> partials/head}}

    <!-- Body -->
    <body>
        <!-- Header -->
        <div class="header">
            <!-- Left -->
            <div class="header-left">
                <h3>Warehouse</h3>
            </div>
        </div>

        <!-- View -->
        <div class="view">

            <table class="orders-table">
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                    <th>Customer</th>
                    <th>Xero Status</th>
                    <th>Xero Actions</th>
                    <th>Printing Actions</th>
                </tr>

            {{#orders}}
                <tr>
                    <td>{{orderId}}</td>
                    <td>{{orderInfo.status}}</td>
                    <td>{{orderInfo.billName1}}</td>
                    <td>Good</td>
                    <td>
                        <a href=#>Send Invoice</a>
                        <a href=#>Print Invoice</a>
                    </td>
                    <td>
                        <a href=#>Packslip</a>
                        <a href=#>Order Label</a>
                        <a href=#>Shipping Label</a>
                    </td>
                </tr>
            {{/orders}}
            </table>
        </div>
    </body>
</html>