<head>
    <!-- Page Data -->
    <title>Warehouse</title>
    <meta http-equiv="refresh" content="30" >

    <!-- Stylesheets -->
    <link href="/style/warehouse/style.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- Scripts -->

</head>